<header>
 	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <title>{{pageTitle}}</title>
	<div class="container">
	  <div class="header clearfix">
	    <nav>
	      <ul class="nav nav-pills pull-right">
	        <li role="presentation" class="active"><a href="/">Home</a></li>
	        <li role="presentation"><a href="/about">About</a></li>
	        <li role="presentation"><a href="/help">Help</a></li>
	      </ul>
	    </nav>
	    <h3 class="text-muted">Kaung Kyaw Khant</h3>
	  </div>
	</div>
</header>
