<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7252274811936690",
        enable_page_level_ads: true
      });
    </script>
    
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <script src="https://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}

    <div class="container">

    <div class="jumbotron">
        <h1>Thank for visiting my Website!</h1>

        <img src="/img/fb4.jpg" class="img-circle" alt="Profile Photo">

        <p style="margin-left: auto">
          Written by <strong>Kaung Kyaw Khant</strong> who lives and works in Singapore.<a href="https://twitter.com/kaungkhantk" target="_blank">You should follow him on Twitter.</a>
        </p>

        <p class="lead">Currently, creating web app using Node.js Express modules that can build website quickly.</p>
        <p><a class="btn btn-lg btn-success" href="https://expressjs.com/" target="_blank" role="button">Explore More</a></p>
  	</div>

    <div class="row marketing">
        <div class="col-lg-6">
          <h4>Personal Summary</h4>
          <p class="text-justify">I have Ten (10) years of proven experiences in Networking, Microsoft window servers, Electrical, Electronics, Telecommunication and Instrumentation engineering, such as, designing, providing detail drawings, integration, installation, commissioning, and servicing of automation and telecommunication system in oil & gas industry, refinery plants, marine and offshore environment.</p>

          <p class="text-justify">Had overseas and offshore experiences of installation, commissioning, and servicing of telecommunication, electrical and instrumentation system of FPSO, FPU, and drilling ships. Had knowledge and understanding of TCP/IP networking concepts, Cisco routing and switching, LAN and WAN technology, vMware, Symantec end point protection enterprise edition and Symantec netbackup.
          </p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
          <h4>Goal</h4>
          <p class="text-justify">The purpose of this website is to launch Node.js powered web application.</p>
		</div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Achievement Summary</h4>

              <div style="float:left;width:30%">
                <img src="/img/ccna.png" class="img-rounded" alt="CCNA">
              </div>

              <div style="float:right;width:30%">
                <img src="/img/ccna-s.png" class="img-rounded" alt="CCNA Security">
              </div>
        </div>
    </div>
      <div class="row marketing">
        <div class="col-lg-6">
            <div style="float:left;width:30%">
              <img src="/img/ccna-v.png" class="img-rounded" alt="CCNA Voice">
            </div>

            <div style="float:right;width:30%">
              <img src="/img/ccnp.png" class="img-rounded" alt="CCNP">
            </div>
        </div>
      </div>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
              <li/>Diloma in Electrical Power Engineering - Pakokku Technological University, Myanmar (2004)
              <li/>Diploma in Technology (Electronics)– Ngee Ann Polytechnic, Singapore (2014)
              <li/>Certificate of Computer Hardware – SSI Institute, Myanmar 2005
              <li/>Certificate of Attendance, Instrumentation and control conversion, Singapore Polytechnic, 2008
              <li/>Certificate of Attendance - AutoCAD 2006, Singapore Polytechnic, 2008
              <li/>Cisco Certified Network Associate (CCNA), 2012, Cisco System
              <li/>Cisco Certified Network Professional (CCNP), 2013, Cisco System
              <li/>Cisco Certified Internetwork Expert (CCIE Written), 2013, Cisco System
              <li/>Cisco Certified Network Associate Voice (CCNA), 2015, Cisco System
              <li/>Cisco Certified Network Associate Security (CCNA), 2015, Cisco System
              <li/>Cisco Certified Network Associate Data Center (CCNA), 2015, Cisco System
        </div>
    </div>


	</div>

    {{> footer}}
  </body>
</html>
